.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    height: 700px;
    margin-top: 50px;
}



input[type="text"],
input[type="number"],
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}